@using ScifiMov;

@{
    Layout = "~/Shared/Layout.cshtml";
    PageData["Title"] = "Sci-fi Movies";

    var db = new Model();
    WebGrid grid;
    var movies= from m in db.Movies select m;
    //var movies = from m in db.Movies select m;
    //var grid = new WebGrid(movies);

    var subCat = db.Movies.Select(x => x.SubCategory).Distinct();



    //gia xrono
    var weekDay = DateTime.Now.Date;


    var titles = db.Movies.ToList();

    //search bar
    var search_request = "";
    var category_request = "";

    if (IsPost)
    {
        search_request = Request.Form["search"];
        category_request = Request.Form["category-filter"];

        if (!category_request.IsEmpty())
        {
            movies = movies.Where(x => x.SubCategory == category_request);
        }

        if (!String.IsNullOrEmpty(search_request))
        {
            movies = from m in movies where m.Title.Contains(search_request) select m;
        }
    }
    grid = new WebGrid(source: movies, defaultSort: "Title", rowsPerPage: 100);
}
    

    <main>
        @weekDay
        <form action="~/Home.cshtml" method="post">
            <label for="search">Search</label>
            <input id="search" name="search" type="search" value="@search_request">
            <label for="category-filter">Select subcategory</label>
            <select id="category-filter" name="category-filter" multiple="">
                <option value=""></option>
                @foreach (var x in subCat)
                {
                   <option value="@category_request">@x</option>
                }
            </select>
           <button type="submit">Apply</button>
        </form>
        <div>
            @grid.GetHtml()
            @*@grid.GetHtml(columns: grid.Columns( grid.Column("Title", "Title")))*@
        </div>
        @foreach (var p in titles)
        {<h2>@p.Title
        </h2>}
</main>

